        #thirDiv{height:600px; width:500;}
        #thirDiv{background:gray ;}
        #spanId{font-size:18px;}
        #spanId{margin:50px;}
        #thirDiv{padding:50px;}
        #thirDiv{border: 8px dashed black;}
        body{text-align:center;}
        body{background:url(https://cdni.russiatoday.com/actualidad/public_images/2017.06/article/59447327c46188bb048b4647.jpg);
    
            background-size:100%;}